* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(217, 235, 250);
}

h1 {
  color: rgb(6, 170, 6);
  font-size: 50px;
}

#header {
  text-align: center;
  padding: 20px;
}

.subtitle {
  font-weight: 600;
  margin-top: 10px;
}

.graph-buttons {
  display: flex;
  justify-content: center;
  /* padding: 20px; */
}

.population,
.languages {
  margin: 5px;
  padding: 10px;
  font-weight: 700;
  background-color: rgb(6, 170, 6);
  border: none;
}

.population:hover,
.languages:hover {
  background-color: rgb(9, 204, 9);
}

.population:active,
.languages:active {
  background-color: rgb(16, 163, 16);
}

.graphs {
  width: 60%;
  margin-top: 10px;
}

.graph-title {
  margin-top: 20px;
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

@media (width <= 700px) {
  .header {
    width: 50%;
  }
  .graphs {
    width: 100%;
  }
  canvas {
    width: 900px;
    margin: 10px;
    font-style: italic;
  }
}
